@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --primarycolor: #3B82F6;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0rem;
}

.header {
    width: 100%;
    padding-bottom: 2rem;
    text-align: center;
    height: 5rem;
    background-color: var(--primarycolor);
}

.header-text {
    text-align: center;
    padding-top: 2rem;
    color: white;
    font-size: xx-large;
    margin-block-start: 0rem;
}

.header-para {
    color: white;
    font-size: large;

}

.container-center {
    max-width: 37rem;
    margin: auto;
}

#input {
    margin-top: 3rem;
    width: 37rem;
    height: 10vh;
    display: block;
    padding: 1rem;
}

.button-box {
    background-color: var(--primarycolor);
    color: white;
    font-size: large;
    margin-top: 2rem;
    width: 200px;
    height: 8vh;
    border-color: white;
    border-radius: 5px;
    cursor: pointer;
}

#output-info {
    font-size: larger;
    padding: 2rem;
}

#output {
    border: 1px solid black;
    margin-bottom: 3rem;
    width: 37rem;
    height: 10vh;
    display: block;
    padding: 1rem;
}

.footer {
    width: 100%;
    background-color: var(--primarycolor);
    padding: 1rem 1rem;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footer-header {
    padding-bottom: 1rem;
    font-weight: bolder;
    font-size: x-large;
}

.footer-ul-links {
    padding-left: 0px;
}

.lists-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.footer-links {
    color: #fff;
    text-decoration: none;
    padding-left: 0px;
}

@media (max-width: 420px) {
    #input {
        height: 100px;
        width: 300px;
    }

    #output {
        height: 100px;
        width: 300px;
    }


}